.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
}
.contact__container  {  
    display: flex;
    justify-content: flex-end;
}
.main__section--one h1 {
    font-size: 6rem ;
}
.bg-details .orange img {
    left: 45rem;
}

.bg-details .lightpomelo img {
    top: 15rem;
    left: 45rem;
}

.main__section--three {
    padding: 0rem;
}
.section__three--container {
    flex-direction: row;
}
.section__three--article {
    margin: 0;
    flex-grow: 1;
}
.section__three--text {
    font-size: 2rem;
    padding: 0;
}
@media (min-width: 1025px) {
    body {
        width: 1024px;
        margin: 0 auto;
    }
}