:root {
    --dark: #ff9515;
    --light: #ffc50c;
    --white: #f0f1f3;
    --black: #0e0f0f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5% ;
    font-family: 'Shadows into light', Helvetica, sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

body {
    background-color: var(--white);
}

.header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 4.5rem;
    margin-left: 1.5rem;
}

.header__nav {
    display: none;
}

.header__togglemenu img {
    width: 4.5rem;
    margin-right: 1.5rem;
}

main {
    width: 100%;
}

.main__section--one {
    width: 100%;
    height: 70vh;
    min-height: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__one-text {
    margin-bottom: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__section--one h1 {
    padding: 2rem 1rem;
    font-size: 3.6rem;
    letter-spacing: 2px;
}
.mainword {
    color: var(--dark);
}

.main__section--one p {
    font-size: 2rem;
    text-align: left;
    padding: 1rem 2rem;
}
.section__one--smoothie {
    display: none;
}

.section__one--button {
    background-color: var(--dark);
    width: 18rem;
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: .1rem .1rem .9rem #aaaaaa;
}

.section__one--button a {
    font-weight: bold;
    font-size: 2rem;
}
.main__section--two {
    display: grid;
    grid-template-rows: .3fr 1fr 1fr 1fr;
    width: 100%;
    height: 80vh;
    min-height: 550px;
    position: relative;
    z-index: 20;
    text-align: center;
}
.main__section--two h2 {
    font-size: 3.6rem;
    letter-spacing: 2px;
    color: var(--dark);
}

.main__section--two article figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__section--two .paintdown {
    width: 15rem;
}

.main__section--two .paintdonw__icon {
    position: absolute;
}

.main__section--two article p {
    font-size: 2rem;
}

.main__section--three {
    min-height: 1000px;
    background-image: linear-gradient(180deg, var(--dark), var(--light));
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 20;

}

.main__section--three h3 {
    padding: 0 2rem;
    font-size: 3.6rem;
    letter-spacing: 2px;
    color: #FFF
}
.section__three--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__three--article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.section__three--text {
    font-size: 1.8rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.three__article--figure {
    width: 30rem;
    height: auto;
}
.section__three--article figure .smoothie {
    width: 50%;
}
.section__three--article figure .knife {
    margin-bottom: 1rem ;
    width: 70%;
}

.section__three--article figure .claudia {
    margin-bottom: 1rem ;
    width: 25%;
}

.section__three--button {
    background-color: transparent;
    width: 18rem;
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #FFF;
}

.section__three--button a {
    font-weight: bold;
    font-size: 2rem;
}

.main__section--four {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    min-height: 450px;
    text-align: center;
}

.main__section--four h4 {
    padding: 0 2rem;
    font-size: 3.6rem;
    letter-spacing: 2px;
    color: var(--dark);
}
.main__section--four nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.main__section--four nav ul li a {
    font-size: 2rem;
    margin-right: 1rem;
}
.main__section--four figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.main__section--four figure img {
    width: 50%;

}
.section__four--button {
    background-color: var(--dark);
    width: 25rem;
    padding: .5rem;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: .1rem .1rem .9rem #aaaaaa;
    margin-bottom: 2rem;
}

.section__four--button a {
    font-weight: bold;
    font-size: 2rem;
}

footer {
    width: 100%;
    min-height: 250px;
    background-image: linear-gradient(180deg, var(--dark), var(--light) );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo {
    width: 8rem;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer ul li a {
    font-weight: 400;
    font-size: 2rem;
}

/* yellow shape */

.shapecontainer {
    width: 100%;
    max-width: 1024px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    z-index: -20;
}
.circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 300px;
    right: -100px;
    background-image: linear-gradient(to right, var(--dark), var(--light));
    z-index: 20;
}

/* yellow shape */

/* fruits decoration */
.bg-details {
    position: absolute;
    z-index: -1;
}
/* .bg-details figure {
    width: 100%;
    display: flex;
} */
.bg-details picture {
    width: 100%;
    display: flex;
}
.bg-details img {
    position: relative;
}
.bg-details .orange {
    justify-content: flex-end;
}
.bg-details .orange  img {
    top: 4rem;
    width: 48%;
}
.bg-details .flesh {
    justify-content: flex-end;
}
.bg-details .flesh  img {
    top: 20rem;
    width: 40%;
    max-width: 15rem;
    filter: blur(3px);
}
.bg-details .lightpomelo {
    justify-content: flex-start;
}

.bg-details .lightpomelo img {
    top: 20rem;
    width: 40%;
}
.bg-details .yellowlemon {
    justify-content: flex-end;
}
.bg-details .yellowlemon img {
    width: 50%;
    max-width: 10rem;
    top: 38rem;
}

.bg-details .pomeloslice {
    justify-content: center;
}
.bg-details .pomeloslice img {
    top: 6rem;
    width: 40%;
    max-width: 12rem;
}
.bg-details .orangebranch {
    justify-content: flex-end;
}

.bg-details .orangebranch img {
    top: 25rem;
    width: 50%;
    max-width: 18rem;
    filter: blur(2px);
}

/* fruit decoration */
